.ContactForm {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}

.ContactFormItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ContactFormLabel {
    color: black;
    font-size: 15px;
}

.ContactFormInput {
    color: black;
    border: 1px solid;
    border-color: black;
    border-radius: 4px;
    font-size: 12px;
    padding: 8px 16px;
    background-color: transparent;
    min-width: 300px;
    max-width: 500px;
}

.ErrorMessage {
    font-size: 6;
    color: brown;
    text-decoration: underline;
}

.AddContactBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: blue;
    border-color: transparent;
    width: 200px;
    height: 32px;
    outline: none;
}

.AddContactBtn:hover,
.AddContactBtn:focus {
    background-color: rgb(71, 99, 239);
    border-color: transparent;
    outline: none;
}