.Navigation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navLink {
    color: black;
    padding: 4px 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
}

.navLink:hover,
.navLink:focus {
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
    padding: 4px 24px;
}